[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "PUT",
        "path": "/api/v2/customers/cus_5hREkJUa2AT",
        "body": {
            "billingAddress": {
                "line1": "456 Updated Street",
                "city": "Updated City",
                "country": "US"
            }
        },
        "status": 200,
        "response": {
            "id": "cus_5hREkJUa2AT",
            "name": "SDK-Test-Customer",
            "legalName": null,
            "email": "",
            "phone": "",
            "website": "",
            "externalId": null,
            "billingAddress": {
                "line1": "456 Updated Street",
                "city": "Updated City",
                "country": "US"
            },
            "creationState": "active",
            "churnDate": null,
            "vatNumber": null,
            "metadata": null,
            "defaultCurrency": "USD",
            "createdAt": "2026-02-16T15:59:35.253Z",
            "updatedAt": "2026-02-16T15:59:35.458Z"
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"17f-x2RIPW+BCamZGo2pscRQXIBgUEs\""
        },
        "responseIsBinary": false
    }
]