[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/orders/ord_5hREkQVGRuZ",
        "body": "",
        "status": 200,
        "response": {
            "id": "ord_5hREkQVGRuZ",
            "customerId": "2d3c5159-dd0c-43db-b4f0-42bf8a48a975",
            "billingCustomerId": "2d3c5159-dd0c-43db-b4f0-42bf8a48a975",
            "billingContactIds": [],
            "createdAt": "2026-02-16T15:59:36.193Z",
            "updatedAt": "2026-02-16T15:59:36.193Z",
            "endDate": null,
            "name": "",
            "startDate": "2026-02-16T15:59:36.193Z",
            "subscriptionTerms": null,
            "billedAmountNoTax": 0,
            "billedTax": 0,
            "estimatedTax": 0,
            "orderAmount": 0,
            "pendingBillingAmount": 0,
            "totalAmount": 0,
            "totalBilledAmount": 0,
            "creationState": "active",
            "paymentTerms": "Net30",
            "number": 76,
            "metadata": null,
            "showPaymentLink": true,
            "showBankDetails": true,
            "version": 1
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"24f-kpBIncf6PJI05z/fsCd6B2GWcLo\""
        },
        "responseIsBinary": false
    }
]