[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/products/prod_5hREkFnq9Gj",
        "body": "",
        "status": 200,
        "response": {
            "id": "prod_5hREkFnq9Gj",
            "name": "SDK-Test-Product",
            "description": "SDK smoke test product",
            "createdAt": "2026-02-16T15:59:34.832Z",
            "updatedAt": "2026-02-16T15:59:34.832Z",
            "active": false,
            "productCode": "",
            "externalId": null,
            "archivedAt": null,
            "metadata": null
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"fc-dr1Q174xb1Vf27WfNi0qwCNSuhs\""
        },
        "responseIsBinary": false
    }
]