[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/customers/?limit=5",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "id": "cus_5hGmHQ8Q6q5",
                    "name": "SDK-TRACING-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-Customer",
                    "legalName": null,
                    "email": "",
                    "phone": "",
                    "website": "",
                    "externalId": "SDK-TRACING-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-external-customer",
                    "billingAddress": {
                        "line1": "123 Test Street",
                        "city": "Test City",
                        "country": "US"
                    },
                    "creationState": "active",
                    "churnDate": null,
                    "vatNumber": null,
                    "metadata": null,
                    "defaultCurrency": "USD",
                    "createdAt": "2026-02-13T16:07:36.673Z",
                    "updatedAt": "2026-02-13T16:07:36.673Z"
                },
                {
                    "id": "cus_5hGmGeMsgGo",
                    "name": "SDK-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-Customer",
                    "legalName": null,
                    "email": "",
                    "phone": "",
                    "website": "",
                    "externalId": null,
                    "billingAddress": {
                        "line1": "456 Updated Street",
              [...]
