[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "POST",
        "path": "/api/v2/customers/",
        "body": {
            "name": "SDK-Test-Customer",
            "billingAddress": {
                "line1": "123 Test Street",
                "city": "Test City",
                "country": "US"
            }
        },
        "status": 201,
        "response": {
            "id": "cus_5hREkJUa2AT",
            "name": "SDK-Test-Customer",
            "legalName": null,
            "email": "",
            "phone": "",
            "website": "",
            "externalId": null,
            "billingAddress": {
                "line1": "123 Test Street",
                "city": "Test City",
                "country": "US"
            },
            "creationState": "active",
            "churnDate": null,
            "vatNumber": null,
            "metadata": null,
            "defaultCurrency": "USD",
            "createdAt": "2026-02-16T15:59:35.253Z",
            "updatedAt": "2026-02-16T15:59:35.253Z"
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"179-5CdP5b/Xp/EIHRFjb0HoiARxWc4\""
        },
        "responseIsBinary": false
    }
]