[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/orders/?limit=5",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "id": "ord_5hGmGgNdCiT",
                    "customerId": "f9ddaaf4-cb0b-4818-b9af-062fd6358593",
                    "billingCustomerId": "f9ddaaf4-cb0b-4818-b9af-062fd6358593",
                    "billingContactIds": [],
                    "createdAt": "2026-02-13T16:07:30.139Z",
                    "updatedAt": "2026-02-13T16:07:30.139Z",
                    "endDate": null,
                    "name": "",
                    "startDate": "2026-02-13T16:07:30.139Z",
                    "subscriptionTerms": null,
                    "billedAmountNoTax": 0,
                    "billedTax": 0,
                    "estimatedTax": 0,
                    "orderAmount": 0,
                    "pendingBillingAmount": 0,
                    "totalAmount": 0,
                    "totalBilledAmount": 0,
                    "creationState": "active",
                    "paymentTerms": "Net30",
                    "number": 75,
                    "metadata": null,
                    "showPaymentLink": true,
                    "showBankDetails": true,
                    "version": 1
                },
                {
                    "id": "ord_5hGm5zRP9rw",
                    "customerId": "1ecf3b41-215c-4dee-8d0a-2aa8da62cbd9",
                    "billingCustomerId": "1ecf3b41-215c-4dee-8d0a-2aa8da62cbd9",
                    "billingContactIds": [],
                    "createdAt": "2026-02-13T16:05:53.126Z",
                    "updatedAt": "2026-02-13T16:05:57.460Z",
                    "endDate": null,
                    "name": "",
                    "sta[...]
