[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/products/?limit=5",
        "body": "",
        "status": 200,
        "response": {
            "data": [
                {
                    "id": "prod_5hGmHRJvuLB",
                    "name": "SDK-TRACING-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-Product",
                    "description": "Test product for tracing e2e tests",
                    "createdAt": "2026-02-13T16:07:36.857Z",
                    "updatedAt": "2026-02-13T16:07:36.857Z",
                    "active": false,
                    "productCode": "",
                    "externalId": "SDK-TRACING-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-external-product",
                    "archivedAt": null,
                    "metadata": null
                },
                {
                    "id": "prod_5hGmGdGu7bd",
                    "name": "SDK-2026-02-13-1607-a8cb67eda23e298f282b1c90e42dfa60abc3af9f-Product",
                    "description": "SDK smoke test product - updated",
                    "createdAt": "2026-02-13T16:07:29.654Z",
                    "updatedAt": "2026-02-13T16:07:29.745Z",
                    "active": false,
                    "productCode": "",
                    "externalId": null,
  [...]
