[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/contacts/?limit=5",
        "body": "",
        "status": 200,
        "response": {
            "data": [],
            "pagination": {
                "limit": 5,
                "offset": 0,
                "total": 0,
                "hasMore": false
            }
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"49-QDZPKomIhlQahEw+EsBJBLs5/gg\""
        },
        "responseIsBinary": false
    }
]