[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "GET",
        "path": "/api/v2/orders/ord_5hREkQVGRuZ/lines",
        "body": "",
        "status": 200,
        "response": {
            "data": [],
            "pagination": {
                "limit": 10,
                "offset": 0,
                "total": 0,
                "hasMore": false
            }
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"4a-mjN5V90w1n1U3AUwFCX4PhSPzOk\""
        },
        "responseIsBinary": false
    }
]