[
    {
        "scope": "https://api.agentpaid.io:443",
        "method": "PUT",
        "path": "/api/v2/products/prod_5hREkFnq9Gj",
        "body": {
            "description": "SDK smoke test product - updated"
        },
        "status": 200,
        "response": {
            "id": "prod_5hREkFnq9Gj",
            "name": "SDK-Test-Product",
            "description": "SDK smoke test product - updated",
            "createdAt": "2026-02-16T15:59:34.832Z",
            "updatedAt": "2026-02-16T15:59:35.046Z",
            "active": false,
            "productCode": "",
            "externalId": null,
            "archivedAt": null,
            "metadata": null
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "etag": "W/\"106-ibdwZZtYujEy2miugYh/mLVr3Ng\""
        },
        "responseIsBinary": false
    }
]