// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Paid from "../../../index.js";

export declare namespace AgentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentsClient {
    protected readonly _options: NormalizedClientOptions<AgentsClient.Options>;

    constructor(options: AgentsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * DEPRECATED: Use /products instead. Agents are now products with type='agent'.
     *
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.list()
     */
    public list(requestOptions?: AgentsClient.RequestOptions): core.HttpResponsePromise<Paid.Agent[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: AgentsClient.RequestOptions): Promise<core.WithRawResponse<Paid.Agent[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "agents",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agents");
    }

    /**
     * DEPRECATED: Use POST /products instead.
     *
     * @param {Paid.AgentCreate} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.create({
     *         name: "Acme Agent",
     *         description: "Acme Agent is an AI agent that does things.",
     *         externalId: "acme-agent"
     *     })
     */
    public create(
        request: Paid.AgentCreate,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Agent> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Paid.AgentCreate,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Agent>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "agents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agents");
    }

    /**
     * DEPRECATED: Use GET /products/{productId} instead.
     *
     * @param {string} agentId
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.get("agentId")
     */
    public get(agentId: string, requestOptions?: AgentsClient.RequestOptions): core.HttpResponsePromise<Paid.Agent> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentId, requestOptions));
    }

    private async __get(
        agentId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Agent>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agents/{agentId}");
    }

    /**
     * DEPRECATED: Use PUT /products/{productId} instead.
     *
     * @param {string} agentId
     * @param {Paid.AgentUpdate} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.update("agentId", {
     *         name: "Acme Agent (Updated)",
     *         agentAttributes: [{
     *                 name: "Emails sent signal",
     *                 active: true,
     *                 pricing: {
     *                     eventName: "emails_sent",
     *                     taxable: true,
     *                     chargeType: "usage",
     *                     pricingModel: "PerUnit",
     *                     billingFrequency: "monthly",
     *                     pricePoints: {
     *                         "USD": {
     *                             tiers: [{
     *                                     minQuantity: 0,
     *                                     maxQuantity: 10,
     *                                     unitPrice: 100
     *                                 }, {
     *                                     minQuantity: 11,
     *                                     maxQuantity: 100,
     *                                     unitPrice: 90
     *                                 }, {
     *                                     minQuantity: 101,
     *                                     unitPrice: 80
     *                                 }]
     *                         }
     *                     }
     *                 }
     *             }]
     *     })
     */
    public update(
        agentId: string,
        request: Paid.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Agent> {
        return core.HttpResponsePromise.fromPromise(this.__update(agentId, request, requestOptions));
    }

    private async __update(
        agentId: string,
        request: Paid.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Agent>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/agents/{agentId}");
    }

    /**
     * DEPRECATED: Use DELETE /products/{productId} instead.
     *
     * @param {string} agentId
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.delete("agentId")
     */
    public delete(agentId: string, requestOptions?: AgentsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agentId, requestOptions));
    }

    private async __delete(
        agentId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/${core.url.encodePathParam(agentId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/agents/{agentId}");
    }

    /**
     * DEPRECATED: Use GET /products/external/{externalId} instead.
     *
     * @param {string} externalId
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.getByExternalId("externalId")
     */
    public getByExternalId(
        externalId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Agent> {
        return core.HttpResponsePromise.fromPromise(this.__getByExternalId(externalId, requestOptions));
    }

    private async __getByExternalId(
        externalId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Agent>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agents/external/{externalId}");
    }

    /**
     * DEPRECATED: Use PUT /products/external/{externalId} instead.
     *
     * @param {string} externalId
     * @param {Paid.AgentUpdate} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.updateByExternalId("externalId", {
     *         name: "Acme Agent (Updated)",
     *         agentAttributes: [{
     *                 name: "Emails sent signal",
     *                 active: true,
     *                 pricing: {
     *                     eventName: "emails_sent",
     *                     taxable: true,
     *                     chargeType: "usage",
     *                     pricingModel: "PerUnit",
     *                     billingFrequency: "monthly",
     *                     pricePoints: {
     *                         "USD": {
     *                             unitPrice: 150
     *                         }
     *                     }
     *                 }
     *             }]
     *     })
     */
    public updateByExternalId(
        externalId: string,
        request: Paid.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Agent> {
        return core.HttpResponsePromise.fromPromise(this.__updateByExternalId(externalId, request, requestOptions));
    }

    private async __updateByExternalId(
        externalId: string,
        request: Paid.AgentUpdate,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Agent>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Agent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/agents/external/{externalId}");
    }

    /**
     * DEPRECATED: Use DELETE /products/external/{externalId} instead.
     *
     * @param {string} externalId
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.agents.deleteByExternalId("externalId")
     */
    public deleteByExternalId(
        externalId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteByExternalId(externalId, requestOptions));
    }

    private async __deleteByExternalId(
        externalId: string,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `agents/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/agents/external/{externalId}",
        );
    }
}
