// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Paid from "../../../index.js";

export declare namespace PlansClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PlansClient {
    protected readonly _options: NormalizedClientOptions<PlansClient.Options>;

    constructor(options: PlansClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {string} planId - The ID of the plan
     * @param {PlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.plans.getById("planId")
     */
    public getById(planId: string, requestOptions?: PlansClient.RequestOptions): core.HttpResponsePromise<Paid.Plan> {
        return core.HttpResponsePromise.fromPromise(this.__getById(planId, requestOptions));
    }

    private async __getById(
        planId: string,
        requestOptions?: PlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Plan>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `plans/${core.url.encodePathParam(planId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Plan, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/plans/{planId}");
    }

    /**
     * @param {string} planId - The ID of the plan
     * @param {Paid.PlansGetUsageRequest} request
     * @param {PlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.plans.getUsage("planId", {
     *         externalId: "externalId",
     *         limit: 1,
     *         offset: 1,
     *         startTime: "2024-01-15T09:30:00Z",
     *         endTime: "2024-01-15T09:30:00Z"
     *     })
     */
    public getUsage(
        planId: string,
        request: Paid.PlansGetUsageRequest,
        requestOptions?: PlansClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.UsageSummariesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(planId, request, requestOptions));
    }

    private async __getUsage(
        planId: string,
        request: Paid.PlansGetUsageRequest,
        requestOptions?: PlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.UsageSummariesResponse>> {
        const { externalId, limit, offset, startTime, endTime } = request;
        const _queryParams: Record<string, unknown> = {
            externalId,
            limit,
            offset,
            startTime,
            endTime,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `plans/${core.url.encodePathParam(planId)}/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.UsageSummariesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/plans/{planId}/usage");
    }

    /**
     * @param {string} planGroupId - The ID of the plan group
     * @param {PlansClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.plans.getGroupById("planGroupId")
     */
    public getGroupById(
        planGroupId: string,
        requestOptions?: PlansClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.PlanGroup> {
        return core.HttpResponsePromise.fromPromise(this.__getGroupById(planGroupId, requestOptions));
    }

    private async __getGroupById(
        planGroupId: string,
        requestOptions?: PlansClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.PlanGroup>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `plans/group/${core.url.encodePathParam(planGroupId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.PlanGroup, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/plans/group/{planGroupId}");
    }
}
