// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Paid from "../../../index.js";
import { LinesClient } from "../resources/lines/client/Client.js";

export declare namespace OrdersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OrdersClient {
    protected readonly _options: NormalizedClientOptions<OrdersClient.Options>;
    protected _lines: LinesClient | undefined;

    constructor(options: OrdersClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public get lines(): LinesClient {
        return (this._lines ??= new LinesClient(this._options));
    }

    /**
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.list()
     */
    public list(requestOptions?: OrdersClient.RequestOptions): core.HttpResponsePromise<Paid.Order[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(requestOptions?: OrdersClient.RequestOptions): Promise<core.WithRawResponse<Paid.Order[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "orders",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders");
    }

    /**
     * @param {Paid.OrderCreate} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.create({
     *         customerExternalId: "acme-inc",
     *         name: "Acme Order",
     *         description: "Acme Order is an order for Acme, Inc.",
     *         startDate: "2025-01-01",
     *         endDate: "2026-01-01",
     *         currency: "USD"
     *     })
     *
     * @example
     *     await client.orders.create({
     *         customerExternalId: "acme-inc",
     *         name: "Acme Order with Custom Pricing",
     *         description: "Order with customized attribute pricing",
     *         startDate: "2025-01-01",
     *         endDate: "2026-01-01",
     *         currency: "USD"
     *     })
     */
    public create(
        request: Paid.OrderCreate,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Order> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Paid.OrderCreate,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Order>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders");
    }

    /**
     * @param {string} orderId
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.get("orderId")
     */
    public get(orderId: string, requestOptions?: OrdersClient.RequestOptions): core.HttpResponsePromise<Paid.Order> {
        return core.HttpResponsePromise.fromPromise(this.__get(orderId, requestOptions));
    }

    private async __get(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Order>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/{orderId}");
    }

    /**
     * @param {string} orderId
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.delete("orderId")
     */
    public delete(orderId: string, requestOptions?: OrdersClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(orderId, requestOptions));
    }

    private async __delete(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/orders/{orderId}");
    }

    /**
     * @param {string} orderId
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.activate("orderId")
     */
    public activate(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Order> {
        return core.HttpResponsePromise.fromPromise(this.__activate(orderId, requestOptions));
    }

    private async __activate(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Order>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/activate`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders/{orderId}/activate");
    }

    /**
     * Activates the order and processes the initial payment using the provided Stripe confirmation token.
     *
     * @param {string} orderId - The order ID (can be internal ID or display ID)
     * @param {Paid.OrdersActivateAndPayRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.orders.activateAndPay("orderId", {
     *         confirmationToken: "ctoken_1234567890",
     *         returnUrl: "https://example.com/payment-complete"
     *     })
     */
    public activateAndPay(
        orderId: string,
        request: Paid.OrdersActivateAndPayRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Order> {
        return core.HttpResponsePromise.fromPromise(this.__activateAndPay(orderId, request, requestOptions));
    }

    private async __activateAndPay(
        orderId: string,
        request: Paid.OrdersActivateAndPayRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Order>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/activate-and-pay`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/orders/{orderId}/activate-and-pay",
        );
    }

    /**
     * Schedules the cancellation of an order's renewal from a specified date. The order will remain active until the cancellation date.
     *
     * @param {string} orderId - The order ID (can be internal ID or display ID)
     * @param {Paid.CancelRenewalRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.orders.cancelRenewal("orderId", {
     *         orderVersion: 1,
     *         cancelFromDate: "2025-12-31T00:00:00Z"
     *     })
     */
    public cancelRenewal(
        orderId: string,
        request: Paid.CancelRenewalRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.CancelRenewalResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelRenewal(orderId, request, requestOptions));
    }

    private async __cancelRenewal(
        orderId: string,
        request: Paid.CancelRenewalRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.CancelRenewalResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.CancelRenewalResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/orders/{orderId}/cancel");
    }

    /**
     * Schedules a plan upgrade or downgrade for an order with automatic proration calculation. Credits are applied for the unused portion of the current billing period.
     *
     * @param {string} orderId - The order ID (can be internal ID or display ID)
     * @param {Paid.ProrationUpgradeRequest} request
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.orders.schedulePlanChange("orderId", {
     *         orderVersion: 1,
     *         effectiveDate: "2025-02-01T00:00:00Z",
     *         updatedOrderLineAttributes: [{
     *                 orderLineAttributeId: "a1b2c3d4-5678-90ab-cdef-1234567890ab",
     *                 newPricing: {
     *                     "unitPrice": 200,
     *                     "currency": "USD"
     *                 },
     *                 newQuantity: 10
     *             }]
     *     })
     */
    public schedulePlanChange(
        orderId: string,
        request: Paid.ProrationUpgradeRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.ProrationUpgradeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__schedulePlanChange(orderId, request, requestOptions));
    }

    private async __schedulePlanChange(
        orderId: string,
        request: Paid.ProrationUpgradeRequest,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.ProrationUpgradeResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/schedule-plan-change`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.ProrationUpgradeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/orders/{orderId}/schedule-plan-change",
        );
    }

    /**
     * Retrieves all invoices associated with a specific order.
     *
     * @param {string} orderId - The order ID (can be internal ID or display ID)
     * @param {OrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.ForbiddenError}
     * @throws {@link Paid.NotFoundError}
     *
     * @example
     *     await client.orders.getInvoices("orderId")
     */
    public getInvoices(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Invoice[]> {
        return core.HttpResponsePromise.fromPromise(this.__getInvoices(orderId, requestOptions));
    }

    private async __getInvoices(
        orderId: string,
        requestOptions?: OrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Invoice[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/invoices`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Invoice[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new Paid.ForbiddenError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/orders/{orderId}/invoices");
    }
}
