// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import type * as Paid from "../../../../../index.js";

export declare namespace LinesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinesClient {
    protected readonly _options: NormalizedClientOptions<LinesClient.Options>;

    constructor(options: LinesClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {string} orderId
     * @param {Paid.orders.LinesUpdateRequest} request
     * @param {LinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.orders.lines.update("orderId", {
     *         lines: [{
     *                 name: "Order Line One",
     *                 description: "Order Line One is an order line for Acme, Inc."
     *             }, {
     *                 name: "Order Line Two",
     *                 description: "Order Line Two is an order line for Acme, Inc."
     *             }]
     *     })
     */
    public update(
        orderId: string,
        request: Paid.orders.LinesUpdateRequest = {},
        requestOptions?: LinesClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Order> {
        return core.HttpResponsePromise.fromPromise(this.__update(orderId, request, requestOptions));
    }

    private async __update(
        orderId: string,
        request: Paid.orders.LinesUpdateRequest = {},
        requestOptions?: LinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Order>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `orders/${core.url.encodePathParam(orderId)}/lines`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Order, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/orders/{orderId}/lines");
    }
}
