// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Paid from "../../../index.js";

export declare namespace UsageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsageClient {
    protected readonly _options: NormalizedClientOptions<UsageClient.Options>;

    constructor(options: UsageClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * DEPRECATED: Use POST /usage/v2/signals/bulk instead for cleaner field names.
     *
     * @param {Paid.UsageRecordBulkRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.usage.recordBulk({
     *         signals: [{}, {}, {}]
     *     })
     */
    public recordBulk(
        request: Paid.UsageRecordBulkRequest = {},
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__recordBulk(request, requestOptions));
    }

    private async __recordBulk(
        request: Paid.UsageRecordBulkRequest = {},
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "usage/signals/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/usage/signals/bulk");
    }

    /**
     * @param {Paid.UsageRecordBulkV2Request} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     *
     * @example
     *     await client.usage.usageRecordBulkV2({
     *         signals: [{
     *                 event_name: "emails_sent",
     *                 product_id: "63fd642c-569d-44f9-8d67-5cf4944a16cc",
     *                 customer_id: "7d0b6fce-d82a-433d-8315-c994f8f1d68d"
     *             }, {
     *                 event_name: "emails_sent",
     *                 external_product_id: "acme-product",
     *                 external_customer_id: "acme-inc"
     *             }, {
     *                 event_name: "meeting_booked",
     *                 product_id: "63fd642c-569d-44f9-8d67-5cf4944a16cc",
     *                 external_customer_id: "acme-inc",
     *                 data: {
     *                     "meeting_duration": 30,
     *                     "meeting_type": "demo"
     *                 }
     *             }]
     *     })
     */
    public usageRecordBulkV2(
        request: Paid.UsageRecordBulkV2Request = {},
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__usageRecordBulkV2(request, requestOptions));
    }

    private async __usageRecordBulkV2(
        request: Paid.UsageRecordBulkV2Request = {},
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "usage/v2/signals/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/usage/v2/signals/bulk");
    }

    /**
     * @param {Paid.UsageCheckUsageRequest} request
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Paid.BadRequestError}
     * @throws {@link Paid.NotFoundError}
     * @throws {@link Paid.InternalServerError}
     *
     * @example
     *     await client.usage.checkUsage({
     *         externalCustomerId: "acme-inc",
     *         externalProductId: "acme-agent"
     *     })
     */
    public checkUsage(
        request: Paid.UsageCheckUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.UsageCheckUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkUsage(request, requestOptions));
    }

    private async __checkUsage(
        request: Paid.UsageCheckUsageRequest,
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.UsageCheckUsageResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "usage/check-usage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.UsageCheckUsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Paid.BadRequestError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 404:
                    throw new Paid.NotFoundError(_response.error.body as Paid.Error_, _response.rawResponse);
                case 500:
                    throw new Paid.InternalServerError(_response.error.body as Paid.Error_, _response.rawResponse);
                default:
                    throw new errors.PaidError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/usage/check-usage");
    }
}
