// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Paid from "../../../index.js";

export declare namespace ProductsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ProductsClient {
    protected readonly _options: NormalizedClientOptions<ProductsClient.Options>;

    constructor(options: ProductsClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.list()
     */
    public list(requestOptions?: ProductsClient.RequestOptions): core.HttpResponsePromise<Paid.Product[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "products",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products");
    }

    /**
     * @param {Paid.ProductCreate} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.create({
     *         name: "Acme Product",
     *         description: "Acme Product does amazing things.",
     *         externalId: "acme-product",
     *         type: "product"
     *     })
     */
    public create(
        request: Paid.ProductCreate,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Product> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Paid.ProductCreate,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                "products",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/products");
    }

    /**
     * @param {string} productId
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.get("productId")
     */
    public get(
        productId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Product> {
        return core.HttpResponsePromise.fromPromise(this.__get(productId, requestOptions));
    }

    private async __get(
        productId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/products/{productId}");
    }

    /**
     * @param {string} productId
     * @param {Paid.ProductUpdate} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.update("productId", {})
     */
    public update(
        productId: string,
        request: Paid.ProductUpdate,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Product> {
        return core.HttpResponsePromise.fromPromise(this.__update(productId, request, requestOptions));
    }

    private async __update(
        productId: string,
        request: Paid.ProductUpdate,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/products/{productId}");
    }

    /**
     * @param {string} productId
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.delete("productId")
     */
    public delete(productId: string, requestOptions?: ProductsClient.RequestOptions): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(productId, requestOptions));
    }

    private async __delete(
        productId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/${core.url.encodePathParam(productId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/products/{productId}");
    }

    /**
     * @param {string} externalId
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.getByExternalId("externalId")
     */
    public getByExternalId(
        externalId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Product> {
        return core.HttpResponsePromise.fromPromise(this.__getByExternalId(externalId, requestOptions));
    }

    private async __getByExternalId(
        externalId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/products/external/{externalId}",
        );
    }

    /**
     * @param {string} externalId
     * @param {Paid.ProductUpdate} request
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.updateByExternalId("externalId", {})
     */
    public updateByExternalId(
        externalId: string,
        request: Paid.ProductUpdate,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<Paid.Product> {
        return core.HttpResponsePromise.fromPromise(this.__updateByExternalId(externalId, request, requestOptions));
    }

    private async __updateByExternalId(
        externalId: string,
        request: Paid.ProductUpdate,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Paid.Product>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Paid.Product, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/products/external/{externalId}",
        );
    }

    /**
     * @param {string} externalId
     * @param {ProductsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.products.deleteByExternalId("externalId")
     */
    public deleteByExternalId(
        externalId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteByExternalId(externalId, requestOptions));
    }

    private async __deleteByExternalId(
        externalId: string,
        requestOptions?: ProductsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PaidEnvironment.Production,
                `products/external/${core.url.encodePathParam(externalId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PaidError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/products/external/{externalId}",
        );
    }
}
