name: ci

on: [push]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v3

      - name: Compile
        run: yarn && yarn build

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v3

      - name: Compile
        run: yarn && yarn test

  publish:
    needs: [compile, test]
    # TODO: RETURN THIS BACK
    # if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Install & Build
        run: |
          yarn install
          yarn build

      - name: Publish to npm
        run: |
          if [[ ${GITHUB_REF} == *alpha* ]]; then          
            npm publish --tag alpha
          elif [[ ${GITHUB_REF} == *beta* ]]; then
            npm publish --tag beta
          else
            npm publish --dry-run
          fi
